<% content_for :titulo do %>
  Informaci칩n de Contacto
<% end %>
<% content_for :tituloPanel do %>
  Informaci칩n de Contacto
<% end %>

<h3>Datos Personales</h3><br>
<h4>Nombres:</h4><br>
<h5>Gabriel Cobe침a Cede침o</h5><br>
<p>Estudiante de la Pontificia Universidad Catolica del Ecuador Sede Esmeraldas, el presente es un Trabajo Para la Materia de Aplicaciones Difusas.</p>