  <br><br>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.meedicina.com/wp-content/uploads/2015/07/Medicina-personalizada.jpg"> <!-- random image -->
        <div class="caption center-align">
          <b><h3 class="black-text">Informatica en el Campo Medicinal!</h3></b>
          <h5 class="light black-text">Integración de sistemas expertos en la medicina.</h5>
        </div>

      </li>
      <li>
        <img src="https://lh3.googleusercontent.com/-l76yFH2kGxc/TYn8CzNe4vI/AAAAAAAAABU/QYzETcjZOG0/s1600/arq.bmp"> <!-- random image -->
        <div class="caption materialboxed left-align">
          <b><h3 class="black-text">Diagrama del funcionamiento de sistemas expertos!</h3></b>
        </div>
      </li>
      <li>
        <img src="http://blauveterinaris.com/es/wp-content/uploads/2014/11/tumores.jpg"> <!-- random image -->
        <div class="caption right-align">
          <b><h3 class="black-text">Tumores!</h3></b>
          <h5 class="light black-text">Deformación de células lo que permite la aparicion de tumores</h5>
        </div>
      </li>
    </ul>
  </div>

<h3>Tumor Primario</h3>
<p>
  Un tumor es cualquier alteración de los tejidos que produzca un aumento de volumen. Es un agrandamiento anormal de una parte del cuerpo que aparece, por lo tanto, hinchada o distendida. El tumor, junto con el rubor, el dolor y el calor, forman la tétrada clásica de los síntomas y signos de la inflamación.
En sentido restringido, un tumor es cualquier masa o bulto que se deba a un aumento en el número de células que lo componen.Si este crecimiento celular tiene su origen en diversas células (policlonal) hablamos de hiperplasia y si se trata de una neoformación celular que tiene su origen en una única célula (monoclonal) la llamamos neoplasia independientemente de que sean de carácter benigno o maligno en funcion de su capacidad ó no de infiltrar los tejidos que le rodean. Cuando un tumor es maligno tiene capacidad de invasión o infiltración y de producir metástasis a lugares distantes del tumor primario, siendo un cáncer metastásico.
</p>
<h3>Sistema Experto</h3>
<p>
  Es una aplicación informática capaz de solucionar un conjunto de problemas que exigen un gran conocimiento sobre un determinado tema. Un sistema experto es un conjunto de programas que, sobre una base de conocimientos, posee información de uno o más expertos en un área específica. Se puede entender como una rama de la inteligencia artificial, donde el poder de resolución de un problema en un programa de computadora viene del conocimiento de un dominio específico. Estos sistemas imitan las actividades de un humano para resolver problemas de distinta índole (no necesariamente tiene que ser de inteligencia artificial). También se dice que un SE se basa en el conocimiento declarativo (hechos sobre objetos, situaciones) y el conocimiento de control (información sobre el seguimiento de una acción).
</p>