
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12 center">
                  <div class="wow shake" data-wow-delay="0.4s">
                    <a class="btn-floating btn-large waves-effect waves-light red" href="#top"><i class="material-icons">expand_less</i></a>
                  </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright center">
            <div class="container">
            © Copyright 2015. Todos los derechos reservados. Diseñado por <a href="http://wwww.facebook.com/gancoce" ><span class="light-green-text lighten-5
"><b>Gabriel Cobeña</b></span></a>
            </div>
          </div>
        </footer>
